<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I'm graduated from Yonsei University with triple majors: Communication, Psychology, Applied Statistics.
    Currently, I'm pursuing a master's degree from Yonsei University with Cognitive Neuroscience.
    I'm interested in decoding electrochemical signals from the brain by using ML/DL techniques and revealing the mechanism of sensory pathway.
    Furthermore, I also have some interest in Brain-Machine Interaction. I hope I could contribute to better life with my knowledge.
</div>